
QGroupBox {
    border: 2px solid gray;
    }

QPushButton{color:black}
QPushButton{background-color:rgb(179, 238, 58)}
QPushButton:hover{color:red}
QPushButton{border-radius:6px}
QPushButton:pressed{background-color:rgb(180,180,180);border: None;}


#MainWindow{border-image:url(UIProgram/ui_imgs/bg.png)}
QLabel#label_show{border-image:url(UIProgram/ui_imgs/ubVlJ7JMor_small.jpg);}